@include lg {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;

        &__brand {
            display: none;
        }
    }

    .header {
        &__hero {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            &__heading {
                display: block;
                background-color: black;
                color: $white;
                margin-bottom: 5px;
                padding: 5px;
            }

            &__sub-heading {
                display: block;
                background-color: black;
                color: $white;
                padding: 5px;
            }
        }
    }
}
